@import "tailwindcss";

:root {
    --background: #F5F7FA;
    --background2: #fff;

    --foreground: #000;
    --low-text-color: #a0a0a0;

    --primery: #2D60FF;
    --primery-text: #fff;
    --primery-gradient: linear-gradient(140deg, #4C49ED 0%, #0A06F4 100%);
    --primery2: #FEAA09;
    --primery3: #343C6A;

    --secondary1: #FE5C73;
    --secondary2: #1814F3;
    --secondary2-text: #fff;
    --natural1: #EDF1F7;

    --success: #0a3942;
    --success-text: #16DBAA;

    --danger: #3c2442;
    --danger-text: #FE5C73;
    --shadow: 4px 4px 18px -2px #E7E4E8;
}

html.dark {
    --background: rgb(6, 43, 100);
    --background2: #030e2e;

    --foreground: #d8d8d8;
    --low-text-color: #a0a0a0;
    --secondary2: #f314ce;
    --primery: #992dff;
}

body {
    @apply text-[var(--foreground)] bg-[var(--background)]
}

#container {
    @apply max-w-400 2xl:left-1/2 2xl:-translate-x-1/2
}

.primery-gradient {
    background: var(--primery-gradient);
}


.primery-gradient-2 {
    background: linear-gradient(45deg, #2D60FF, #539BFF);
}

.shadow {
    @apply shadow-(--shadow)
}

input {
    @apply outline-0
}

::-webkit-scrollbar {
    @apply w-1 h-1
}

::-webkit-scrollbar-thumb {
    @apply bg-(--primery)
}

.title {
    @apply text-2xl font-bold
}